:root {
  --fill-colour: #4d5e20;
  --bg-colour: white;
  --hover-colour: #374316;
  --prefix-colour: #6b812c;
}

/* Fonts */
@font-face {
  font-family: 'Bubblegum Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Bubblegum Sans Regular'), local('BubblegumSans-Regular'),
       url('../fonts/bubblegum-sans-v9-latin-regular.woff2') format('woff2'),
       url('../fonts/bubblegum-sans-v9-latin-regular.woff') format('woff');
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-landing {
  justify-content: center;
  height: 100vh;
}

a.enter {
  max-width: 50%;
  max-height: 50%;
  width: 100%;
}
a.enter img {
  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}
@media screen and (max-width: 600px) {
  a.enter {
    max-width: 70%;
  }
}

p.jerrykan {
  font-family: 'Bubblegum Sans';
  font-size: 5vmin;
  display: flex;
  width: 100%;
/*
  transform: translateX(-2em);
*/
  transition: all .75s ease-in;
}
.prefixes, .suffixes {
  flex-grow: 1;
  position: relative;
}

a {
  color: var(--fill-colour);
}
a:hover {
  color: var(--hover-colour);
}

/* Fun Stuff */
.affix, #prefix, #suffix {
  transition-property: opacity;
  transition-delay: 0.1s;
  position: absolute;
}
#prefix, 
.prefixes .affix {
  top: 0;
  right: 0;
}
#suffix,
.suffixes .affix {
  top: 0;
  left: 0;
}
#prefix, #suffix {
  color: var(--prefix-colour);
  opacity: 0;
}

#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60%;
  font-size: 40px;
  line-height: 1em;
}
#links div.group {
  display: flex;
}
#links a {
  margin: 0 .1em;
}
